# ==============================================================================
# GLOBALE PREFERENCES / FEATURE FLAGS (true = Aktivieren, false = Deaktivieren)
# ==============================================================================
PROXY_HTTP_PORT=80
PROXY_HTTPS_PORT=443
ACME_MAIL=admin@example.org
TRAEFIK_LOG_LEVEL=DEBUG
SETUP_TRAEFIK=true

# ==============================================================================
# PWA APP CONFIGURATION
# ==============================================================================
PWA_APP_PATH=/home/zso/pwa_app/
PWA_GIT=https://github.com/ZSO-Apps/pwa_app.git
PWA_DOMAIN=app.sins.local
PWA_PORT=8081
ZSO_ORG=Freiamt # BruggRegion / Weli
SETUP_PWA=true

# ==============================================================================
# INCIDENT MANAGER CONFIGURATION
# ==============================================================================
INCIDENTMANAGER_APP_PATH=/opt/zso/incident-manager/
INCIDENTMANAGER_GIT=https://github.com/RFO-Baden/incident-manager.git
INCIDENTMANAGER_DB_DATA_CHOICE=minimal
INCIDENTMANAGER_BACKEND_DOMAIN=im.zsoweli-wettingen.synology.me
INCIDENTMANAGER_FRONTEND_DOMAIN=im.zsoweli-wettingen.synology.me
INCIDENTMANAGER_BACKEND_PORT=1234
INCIDENTMANAGER_FRONTEND_PORT=1234
SETUP_INCIDENT_MANAGER=false


# ==============================================================================
# ZS KARTE / Offlinekarte
# ==============================================================================
OFFLINEKARTE_PATH=/home/zso/offlinekarte/
OFFLINEKARTE_GIT=https://github.com/zso-freiamt-it/offlinekarte.git
OFFLINEKARTE_BRANCH=zskarte/dev
OFFLINEKARTE_COMPOSE_OVERRIDE=docker-compose-offlinekarte.yml
OFFLINEKARTE_TILESERVER_PORT=8080
ZSKARTE_PATH=/home/zso/offlinekarte/zskarte/
ZSKARTE_ENV_TS=/home/zso/offlinekarte/zskarte/packages/app/src/environments/environment.prod.ts
ZSKARTE_ENABLE_TLS=true
ZSKARTE_MAIN_PORT=4300
ZSKARTE_MAIN_DOMAIN=maps.sins.local
ZSKARTE_API_DOMAIN='api.maps.sins.local'
ZSKARTE_API_DOMAIN_ENV='api.${window.location.host}'
ZSKARTE_API_PORT=1337
ZSKARTE_API_PATH=
TILESERVER_GL_ALLOWED_HOSTS=tile.maps.sins.local,tile.maps.sins.zso-freiamt.com
OFFLINEKARTE_TILESERVER_PORT=8080
OFFLINEKARTE_TILESERVER_DOMAIN='tile.maps.sins.local'
OFFLINEKARTE_TILESERVER_DOMAIN_ENV='tile.${window.location.host}'
OFFLINEKARTE_TILESERVER_PATH=/styles/osm-bright
OFFLINEKARTE_SEARCHSERVER_DOMAIN='search.maps.sins.local'
OFFLINEKARTE_SEARCHSERVER_DOMAIN_ENV='search.${window.location.host}'
OFFLINEKARTE_SEARCHSERVER_PORT=8000
OFFLINEKARTE_SEARCHSERVER_PATH=/search/
ZSKARTE_SEARCH_LABEL="ZSO Freiamt (lokal)"
SETUP_ZSK=true

# ==============================================================================
# PASSWORDS
# ==============================================================================
POSTGRESQL_PASSWORD=
POSTGRES_PASSWORD=
SEARCH_DB_PASSWORD=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
