# ==============================================================================
# GLOBALE PREFERENCES / FEATURE FLAGS (true = Aktivieren, false = Deaktivieren)
# ==============================================================================
PROXY_HTTP_PORT=18080
PROXY_HTTPS_PORT=18443
ACME_MAIL=admin@example.org
TRAEFIK_LOG_LEVEL=DEBUG

# ==============================================================================
# PWA APP CONFIGURATION
# ==============================================================================
PWA_APP_PATH=/opt/zso/pwa_app/
PWA_GIT=https://github.com/ZSO-Apps/pwa_app.git
PWA_DOMAIN=pwa.zso3.local
PWA_PORT=8081
ZSO_ORG=Generic # BruggRegion / Weli

# ==============================================================================
# INCIDENT MANAGER CONFIGURATION
# ==============================================================================
INCIDENTMANAGER_APP_PATH=/opt/zso/incident-manager/
INCIDENTMANAGER_GIT=https://github.com/RFO-Baden/incident-manager.git
INCIDENTMANAGER_DB_DATA_CHOICE=minimal
INCIDENTMANAGER_BACKEND_DOMAIN=im.zsoweli-wettingen.synology.me
INCIDENTMANAGER_FRONTEND_DOMAIN=im.zsoweli-wettingen.synology.me
INCIDENTMANAGER_BACKEND_PORT=1234
INCIDENTMANAGER_FRONTEND_PORT=1234


# ==============================================================================
# ZS KARTE / Offlinekarte
# ==============================================================================
OFFLINEKARTE_PATH=/opt/zso/offlinekarte/
OFFLINEKARTE_GIT=https://github.com/zso-freiamt-it/offlinekarte.git
OFFLINEKARTE_BRANCH=zskarte/dev
OFFLINEKARTE_COMPOSE_OVERRIDE=docker-compose-offlinekarte.yml
OFFLINEKARTE_TILESERVER_PORT=8080
ZSKARTE_PATH=/opt/zso/offlinekarte/zskarte/
ZSKARTE_ENV_TS=/opt/zso/offlinekarte/zskarte/packages/app/src/environments/environment.prod.ts
ZSKARTE_ENABLE_TLS=true
ZSKARTE_MAIN_PORT=4300
ZSKARTE_MAIN_DOMAIN=maps.zso3.local
ZSKARTE_API_DOMAIN=api.maps.zso3.local
ZSKARTE_API_PORT=1337
ZSKARTE_API_PATH=
OFFLINEKARTE_TILESERVER_PORT=8080
OFFLINEKARTE_TILESERVER_DOMAIN=tile.maps.zso3.local
OFFLINEKARTE_TILESERVER_PATH=/styles/osm-bright
OFFLINEKARTE_SEARCHSERVER_DOMAIN=search.maps.zso3.local
OFFLINEKARTE_SEARCHSERVER_PORT=8000
OFFLINEKARTE_SEARCHSERVER_PATH=/search/
ZSKARTE_SEARCH_LABEL="ZSO Wettingen-Limmattal (lokal)"
